{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": ["xo", "xo-react", "plugin:flowtype/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react", "flowtype"],
  "rules": {
    "indent": [
      "error", "tab"
    ],
    "linebreak-style": [
      "error", "unix"
    ],
    "quotes": [
      "error", "single"
    ],
    "semi": ["error", "never"],
    "react/prop-types": 0,
    "react/forbid-component-props": 0,
    "forbid-component-props": 0,
    "no-redeclare": 0,
    "no-alert": 0,
    "react/jsx-no-bind": 0
  }
}
