{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": [
    "xo/esnext",
    "xo-react",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "babel",
    "react",
    "flowtype",
    "promise",
    "import"
  ],
  "rules": {
  }
}
