{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": [
    "xo",
    "xo-react",
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "flowtype"
  ]
}
